/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1;
    overflow-x: hidden;
}
html {
    background-color: #0a0c10;
}
body {
    background-color: #0a0c10;
}

/* Container*/
.todoContainer {
    background-color: #0a0c10;
    width: 100vw;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

/* Create */
.createForm {
    position: relative;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.createInput {
    width: 70%;
    height: 45px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid #d1d2d3;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border-radius: 5px;
}

.btnCreate {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #61dafb;
    cursor: pointer;
}

/* TodoElements containers */
.todos {
    margin-top: 5%;
    width: auto;
    height: auto;
    background-color: red;
    margin-bottom: 5%;
}

/* Tasks */
.task {
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d2d3;
    cursor: pointer;
}
.taskButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 20%;
    background-color: blue;
}
.btnDelete {
}
.btnUpdate {
}

.App-link {
    color: #61dafb;
}
